@import url('https:\\fonts.googlepis.com\css?family=Roboto');

body {
    background-color: blue;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 50;
    padding-bottom: 50px;
}

.main {
    border-radius: 3px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    height: 300;
    text-align: left;
    background-color: #1a1a1a;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

.main h1 {
    color: #fff;
}

.main input[type="radio"] {
    display: none;
}

.main input[type="radio"] + .box {
    transition: all .4s ease-out;
}




