/* Style for Tucker's blog website */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li{
    margin: 0;
    padding: 0;
}

/* Univeral Style */

body{
    background-color: darkgray;
}

div#container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-color: lightgrey;
}

header#BlogHead{
    width: 100%;
    font-family:sans-serif;
    height: 300px;
    text-align: center;
    background-color: firebrick;
    font-family: 'Anton', sans-serif;
}

/* Blog Post */

div#BlogPost{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: dimgrey;
    box-shadow: 3px 3px 3px grey;
    margin: 15px 0;
    padding: 10px;
}

img#PostImg{
    align-self: flex-start;
    display: block;
    margin 5px;
    width: 150px;
    height: 150px;
    background-color: white;
}

div#PostBody{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 5px;
    font-family: 'Exo 2', sans-serif;
}

h2#PostTitle{
    align-self: auto;
    font-family: 'Anton', sans-serif;
    color: maroon;
}

h5#PostStamp{
    color: #640000;
}

p#PostText{
    font-size: 2em;
}






