/* Stylesheet for social media website */

/* CSS Reset */
html, body, div, header, h1, h2, h3, h4, h5, h6, nav, ul, ol, li, p, footer{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
}

body{
    background: linear-gradient(black, green);
    background-repeat: no-repeat;
    color: limegreen;
    font-family: sans-serif;
}

div#container{
    display: flex;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #454545;
    max-width: 1024px;
    width: 80%;
    margin: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #454545;
    width: 100%;
    height: 300px;
}

header img#profile_img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: limegreen;
    align-self: flex-end;
    margin-left: 16px;
}

header div#profile_info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-left: 32px;
}

div#profile_info h2{
    width: 100%;
    order: 1;
    font-size: 2em;
    font-family: Star Jedi;
}

div#profile_info h4{
    width: 100%;
    order: 2;
    font-size: 1em;
}
/* Navigation Start */
nav{
    width: 10%;
    margin:10px 0 0 90px;
    order: 1;  
}

nav ul{
    list-style: none;
}

nav li{
    
}

nav li a{
    text-decoration: none;
    font-family: sans-serif;
    color: green;
}

nav li a:hover{
    color: black;
}
/* Navigation End */
div#content{
    width: 75%;
    order: 2;
}

div#content div.post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 8px auto;
    width: 75%;
    height: auto;
    background-color: #403f3f;
    box-shadow: 2px 2px 2px black;
}

div#content div.post img.ppp{
    display: block;
    order: 1;
    margin: 6px;
    background-color: darkgray;
    width: 120px;
    height: 120px;
}

div#content div.post-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: 2;
    width: 75%;
} 

div#content div.post h3.pnp{
    order: 1;
    width: 60%;
    height: 10%;
    margin: 6px 0;
}

div#content div.post p.time-stamp{
    order: 2;
    font-size: 0.8em;
    font-weight: 600;
    color: limegreen;
}

div#content div.post div.post-foot{
    display: flex;
    flex-direction: column;
    width: 100%;
    order: 3;
}

div#content div.post div.post-foot div.p-comments{
    order: 1;
    margin: 6px;
}

div#content div.post div.post-foot div.p-likes{
    order: 2;
    margin: 6px;
}

footer{
    display:flex;
    background-color: black;
    width: 100%;
    order: 3;
    justify-content: center;
}








